{% extends 'homepage/base.html' %}
{% block title %}
Music Playlist
{% endblock %}

{% block content %}
{% load static %}

<head>
    <link href="{% static 'playlist/playlist.css' %}" type="text/css" rel="stylesheet" />
</head>

    <h1>Choose your music.</h1>
    <h2>Suggested Playlist:</h2>
    {% for playlist in playlists %}
    <ul>
        <li>{{playlist.name}}</li>
    </ul>
    {% endfor %}

    <form>
        <label for="playlist">Select Playlist:</label>
        <select name="playlist_id" id="playlist" hx-get={% url 'select_playlist' %} hx-target="#selected">
            <option value="">-- Choose a Playlist --</option>
            {% for playlist in playlists %}
                <option value="{{ playlist.id }}" {% if selected_playlist and selected_playlist.id == playlist.id %}selected{% endif %}>{{ playlist.name }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="selected">
        {% if selected_playlist %}
        <p>Playing from "{{ selected_playlist.name }}"</p>
        {% for track in selected_playlist.tracks.all %}
            <audio controls>
                <source src="{{ track.audio_file.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}