<div class="yourgoals">
    <h2>Your Goals</h2>
        
    <div class='storedgoals'>    
        <div class="statusbarcontainer">
                {% if bar == 0 %}
                <span>0% of progress</span>
                {% else %}
                <div class="bar" style="width: {{ bar }}%;">
                <span>{{ bar|floatformat:1 }}% of progress</span>
                {% endif %}
                </div>
        </div>

        <div class="calculate">

            <div class="total">
            <span><strong>Total goals</strong></span>
            <span>{{total}}</span>
            </div>

            <div class="g-done">
            <span><strong>Goals completed<strong></span>
            <span>{{ done }}</span>
            </div>

            <div class="g-not">
            <span><strong>Goals not complete<strong></span>
            <span>{{ notdone }}<span>
            </div>
        </div>

        <div class="seperate">
            {% for goal in goals %}
            
            <div class="box">
                <span class="display_title"><strong>{{ goal.title }}</strong></span>
                <span class="display_description">{{ goal.description }}</span>
            
                <span>
                {% if not goal.completed %}    
                    <div class="notdone">Progress: {{goal.progress}}</div>
                    {% else %}
                    <div class="done">Progress: {{goal.progress}}</div>
                </span>
                {% endif %}

                <div class="grouping">
                <a href="{% url 'edit' goal.id %}" class="edit">Edit</a>
                <a href="{% url 'delete' goal.id %}" class="delete">Delete</a>
                {% if not goal.completed %}
                <form action="{% url 'complete' goal.id 'complete'%}" hx-post="{% url  'complete' goal.id 'complete'  %}" hx-target="#displaying" hx-trigger="submit">
                    {% csrf_token %}
                    <button type="submit" class="complete">Complete</button>
                </form>
                {% else %}
                <form action="{% url 'complete' goal.id 'notcomplete'%}" hx-post="{% url  'complete' goal.id 'notcomplete' %}" hx-target="#displaying" hx-trigger="submit">
                    {% csrf_token %}
                    <button type="submit" class="complete">Incomplete</button>
                </form>
                {% endif %}
                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

