{% extends 'homepage/base.html' %}

{% block title %}
Goals
{% endblock %}

{% block content %}
{% load static %}
<head>
    <link href="{% static 'goals/goals.css' %}" type="text/css" rel="stylesheet" />
    <title>Goals</title>
</head>

<body>
<div class="forms">
    <h1>Set your goals!</h1>
    <form method="POST">
        {% csrf_token %}
    <div class="title-container"><span><strong>Title:</strong>  {{ form.title }}</span></div>
    
    <div class="description">
        <p><strong>Description (if any): </strong></p>
        {{ form.description }}
    </div>

    <div class="complete">    
        <span><strong>Complete:</strong> {{ form.completed }}</span>
        <span><button type="submit">Save</button></span>
    </div>
    
    </form>
</div>
    <h2>Your Goals</h2>
    <div class="seperate">
        {% for goal in goals %}
        <div class="box">
            <span><strong>{{ goal.title }}</strong></span>
            <span>{{ goal.description }}</span>
           <span class="progress"> Progress: {{goal.progress}}</span>
            <a href="{% url 'edit' goal.id %}" class="edit">Edit</a>
            <a href="{% url 'delete' goal.id %}" class="delete">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}

