{% extends 'homepage/base.html' %}

{% block title %}
Start Focus
{% endblock %}

{% block content %}
{% load static %}
<head>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <section  id="goalss">
        <link href="{% static 'goals/goals.css' %}" type="text/css" rel="stylesheet" />
    </section>
    <link href="{% static 'playlist/playlist.css' %}" type="text/css" rel="stylesheet" />
    <title>Goals</title>
</head>
<body>
    
<div class='container-2'>
     </div>
     <div class="container-wrapper">
        <div class="container-motivation">
            <h2>Motivation Generator</h2>
            {% include 'motivation/motivation.html' %} 
            </div>
        <div class='container-playlist'>
            {% include 'playlist/playlist.html' %}
            </div>
            <div class='container-time' hx-get="{% url 'timer' %}" hx-trigger="load" hx-swap="outerHTML>
                {% include 'timer/countdown.html' %}
                </div>
</div>

<nav> 
    <a href="javascript:void(0);" class="scroll-to-goals-button" onclick="toggleScroll()">Scroll</a>
</nav>

<div id="displaying">
    <div class="container-aboutgoals">
        <div class="forms">
            <h1>Set your goals!</h1>
            <form hx-post="{% if editing %}{% url 'edit' goal.id %}{% else %}{% url 'set_goals' %}{% endif %}"
            hx-target="#displaying" hx-trigger="submit">
                {% csrf_token %}
            <div class="title-container"><span><strong>Title:</strong>  {{ form.title }}</span></div>
            
            <div class="description">
                <p id="describe-text"><strong>Description (if any): </strong></p>
                {{ form.description }}
            </div>
                <span><button type="submit" class="save">{% if editing %}Save Changes{% else %}Create Goal{% endif %}</button></span>
            </form>
        </div>

    <div class="yourgoals">
    <h2>Your Goals</h2>
        
    <div class='storedgoals'>    
        <div class="statusbarcontainer">
                {% if bar == 0 %}
                <span>0% of progress</span>
                {% else %}
                <div class="bar" style="width: {{ bar }}%;">
                <span>{{ bar|floatformat:1 }}% of progress</span>
                {% endif %}
                </div>
        </div>

        <div class="calculate">

            <div class="total">
            <span><strong>Total goals</strong></span>
            <span>{{total}}</span>
            </div>

            <div class="g-done">
            <span><strong>Goals completed<strong></span>
            <span>{{ done }}</span>
            </div>

            <div class="g-not">
            <span><strong>Goals not complete<strong></span>
            <span>{{ notdone }}<span>
            </div>
        </div>

        <div class="seperate">
            {% for goal in goals %}
            
            <div class="box">
                <span class="display_title"><strong>{{ goal.title }}</strong></span>
                <span class="display_description">{{ goal.description }}</span>
            
                <span>
                {% if not goal.completed %}    
                    <div class="notdone">Progress: {{goal.progress}}</div>
                    {% else %}
                    <div class="done">Progress: {{goal.progress}}</div>
                </span>
                {% endif %}

                <div class="grouping">
                <a href="{% url 'edit' goal.id %}" class="edit" hx-get="{% url 'edit' goal.id %}" hx-target="#displaying">Edit</a>
                <a href="{% url 'delete' goal.id %}" class="delete" hx-get="{% url  'delete' goal.id %}" hx-target="#displaying">Delete</a>
                {% if not goal.completed %}
                <form action="{% url 'complete' goal.id 'complete'%}" hx-post="{% url  'complete' goal.id 'complete' %}" hx-target="#displaying" hx-trigger="submit">
                    {% csrf_token %}
                    <button type="submit" class="complete">Complete</button>
                </form>
                {% else %}
                <form action="{% url 'complete' goal.id 'notcomplete'%}" hx-post="{% url  'complete' goal.id 'notcomplete' %}" hx-target="#displaying" hx-trigger="submit">
                    {% csrf_token %}
                    <button type="submit" class="complete">Incomplete</button>
                </form>
                {% endif %}
                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

</body>
 <script>
    let scrolledToBottom = false;
    function toggleScroll() {
        // Check the current scroll position
        if (window.scrollY + window.innerHeight >= document.body.scrollHeight) {
            // If scrolled to the bottom, scroll to the top
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        } else {
            // If not scrolled to the bottom, scroll to the bottom
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
        }
        scrolledToBottom = !scrolledToBottom;  // Toggle state
    }


    document.querySelector('.generate-quote').addEventListener('click', function(event) {
        event.preventDefault(); // Prevents the default form submission

        const form = document.querySelector('form');
        const formData = new FormData(form);




        fetch("{% url 'motivation' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
            },
        
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                document.querySelector('#quote-display').innerHTML = `
                    <p class="quote">${data.quote}</p>
                    <p class="quoter">${data.actor}</p>
                `;
            }
        })
        
    });
</script> 



{% endblock %}
