{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'homepage/base.css' %}" type="text/css" rel="stylesheet" />
    <title>{% block title %}FocusFlow{% endblock %}</title>
</head>
<header>
    <div class="container-home">
        <a href = "{% url 'homepage' %}" class="title">FocusFlow</a>
      <!--  <a href = "{% url 'set_goals' %}" class="goals">Start</a>
        <a href = "{% url 'timer' %}" class="timer">Timer</a>
        <a href = "{% url 'motivation' %}" class="motivation">Motivation</a>
        <a href = "{% url 'select_playlist' %}" class="select_playlist">Music</a> -->
        <a href = "{% url 'signup' %}" class="signup">Sign up</a>
        <a href = "{% url 'logout' %}" class="logout">Logout</a>
        <a href = "{% url 'profile' %}"class="profile">Profile</a>
        <a href = "{% url 'password_change' %}" class="password">Change Password</a>
       <!--  <a href = "{% url 'mood_track' %}"class="mood">Track Mood</a> -->
        <a href = "{% url 'mood_history' %}"class="history">Mood History</a>
    </div>
    {% block content %}
    {% endblock %}
    
</header>
</html>

