{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'homepage/base.css' %}" type="text/css" rel="stylesheet" />
    <title>{% block title %}FocusFlow{% endblock %}</title>
</head>
<body>
    <div class="container-home">
        <a href = "{% url 'homepage' %}" class="title">FocusFlow</a>
        <a href = "{% url 'set_goals' %}" class="goals">Goals</a>
        <a href = "{% url 'timer' %}" class="timer">Timer</a>
        <a href = "{% url 'motivation' %}" class="motivation">Motivation</a>
        <a href = "{% url 'playlist' %}" class="playlist">Music</a>
        <a href = "{% url 'signup' %}" class="signup">Sign up</a>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>

