{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link href="{% static 'homepage/base.css' %}" type="text/css" rel="stylesheet" />
    <title>{% block title %}FocusFlow{% endblock %}</title>
</head>
<header>
    <div class="container-home">
        <a href = "{% url 'homepage' %}" class="title">FocusFlow</a>
      <!--  <a href = "{% url 'set_goals' %}" class="goals">Start</a>
        <a href = "{% url 'timer' %}" class="timer">Timer</a>
        <a href = "{% url 'motivation' %}" class="motivation">Motivation</a>
        <a href = "{% url 'select_playlist' %}" class="select_playlist">Music</a> -->
        <a href = "{% url 'profile' %}"class="profile" target="_blank">Profile</a>
        <a href="{% url 'mood' %}" class="mood" target="_blank">Mood History</a>
        <a href = "{% url 'logout' %}" class="logout">Logout</a>
    </div>
    {% block content %}
    {% endblock %}
    
</header>
</html>

