{% extends 'homepage/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'homepage/homepage.css' %}" type="text/css" rel="stylesheet" />
    <title>Home</title>
</head>

<div class="text">
    <p id="welome">Welcome to FocusFlow</p>
    <p id="slogan">Turn Focus Into Achievement.</p>
    <a href="{% url 'log_mood' %}" class="button-start">Start Focus</a>
</div>
{% endblock %}