*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-home{
    background-color:cadetblue;
    overflow: hidden;
    display: flex;
    border-radius: 12px;
}

.title:hover, .goals:hover, .timer:hover, .motivation:hover, .signup:hover, .playlist:hover{
    color: brown;
}

.title, .goals, .timer, .motivation, .signup, .playlist{
    margin-right: 20px;
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
