.container{
    background-color:cadetblue;
    overflow: hidden;
    display: flex;
    border-radius: 12px;
}

.title:hover{
    color: brown;
}

.goals:hover{
    color: brown;
}

.timer:hover{
    color:brown;
}

.title, .goals, .timer, .motivation, .signup{
    margin-right: 20px;
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

.signup{
    padding-left: 450px;
}