/* mood.css */

.log-mood-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.log-mood-container h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}


.emoji-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}


.emoji-picker span {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}


.emoji-picker span:hover {
  color: #666;
}


.log-mood-container p {
  margin-bottom: 20px;
  color: #666;
}


.focus {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}


.focus:hover {
  background-color: #3e8e41;
}