{% load static %} 

<head>
    <link href="{% static 'background/background.css' %}" type="text/css" rel="stylesheet" />
    <title>Background</title>
</head>
<body>
    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
            <source src="{% static 'background/images/natureflower.mp4' %}" type="video/mp4">
        </video>
        <nav>
            <!-- <img src="" class="logo"> --> 
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">MOOD</a></li>
                <li><a href="#">GOALS</a></li>
                <li><a href="#">ACCOUNT</a></li>
            </ul>
        </nav>
        <!-- <div class="content">
            <h1>California</h1>
            <a href="#">Explore</a>
        </div> -->
    </div>



</body>