{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpaper Switcher</title>
    <!-- Linking CSS via Django's static -->
    <link href="{% static 'background/background.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body class="default-bg">
    <!-- Sidebar for wallpaper buttons -->
    <div class="sidebar">
        <button onclick="changeWallpaper('winter')">Winter</button>
        <button onclick="changeWallpaper('summer')">Sea</button>
        <button onclick="changeWallpaper('city')">Flowers</button>
        <button onclick="changeWallpaper('nature')">Nature</button>
    </div>

    <!-- Video backgrounds -->
    <video id="winter-video" class="background-video" autoplay muted loop>
        <source src="{% static 'background/videos/winter.mp4' %}" type="video/mp4">
    </video>
    <video id="summer-video" class="background-video" autoplay muted loop>
        <source src="{% static 'background/videos/mountains.mp4' %}" type="video/mp4">
    </video>
    <video id="city-video" class="background-video" autoplay muted loop>
        <source src="{% static 'background/videos/natureflower.mp4' %}" type="video/mp4">
    </video>
    <video id="nature-video" class="background-video" autoplay muted loop>
        <source src="{% static 'background/videos/nature.mp4' %}" type="video/mp4">
    </video>

    <!-- Default background video -->
    <video class="default-video" autoplay muted loop>
        <source src="{% static 'background/videos/default.mp4' %}" type="video/mp4">
    </video>

    <!-- Linking JS via Django's static -->
    <script src="{% static 'background/background.js' %}"></script>
</body>
</html>


