<!-- mood_tracking.html -->

<h1>Mood Tracking</h1>
<div id="mood-chart"></div>

<script>
  // Define the moodData variable
  var moods = JSON.parse('{{ moods|safe }}');
  var moodData = [];

  moods.forEach(function(mood) {
    moodData.push([mood.date, mood.mood]);
  });

  // Create the chart
  var chart = new Highcharts.Chart({
    chart: {
      renderTo: 'mood-chart',
      type: 'line'
    },
    title: {
      text: 'Mood Tracking'
    },
    xAxis: {
      title: {
        text: 'Date'
      }
    },
    yAxis: {
    title: {
      text: 'Mood'
    },
    labels: {
      formatter: function() {
        const labels = {
          1: '😔',
          2: '😐',
          3: '😊',
          4: '😃',
          5: '😆'
        };
        return labels[this.value] || this.value;
      }
    }
  },
    series: [{
      name: 'Mood',
      data: moodData
    }]
  });
</script>