<!-- mood_history.html -->
<head>
    <link rel="stylesheet" type="text/css" href="mood_history.css">
  </head>
  
  <div class="mood-history">
    <h2>Mood History</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Mood</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for mood in moods %}
          <tr>
            <td>{{ mood.date }}</td>
            <td>{{ mood.mood }}</td>
            <td>{{ mood.notes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% include 'mood_tracking.html' %}