{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'timer/countdown.css' %}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- icons -->
    <script src="https://kit.fontawesome.com/6f3103b13c.js" crossorigin="anonymous"></script>



    <title>Study Timer</title>
</head>
<body>
    <div class="container"> 
        {% csrf_token %}
        <div id="timer-container">
            <h2>Pomodoro Timer</h2>
            <section>
                <div class="container">
                    <h1 id="pomodoro"></h1>
        
                <div class="container-time">
                    <div class="timer">
                        <div class="circle">
                            <P class="time">
                                <span id="minutes">25</span>:<span id="seconds">00</span>
                           
                            </P>
                        </div>
                    </div>
                </div>
                    <div class="controls">
                        <button id="start" onclick="start()">Start <i class="fa-solid fa-play"></i></button>
        
                        <button id="reset"  onclick="reset()" class="fa-solid fa-arrow-rotate-left" style="display:none;">Reset</button>
                    </div>
                </div>
            </section>
        </div>
        


    <script src="{% static 'timer/countdown.js' %}"></script>
</body>
</html>